#jumbotron {
    margin: auto;
    background-image: url("../images/chicagoBackground7.jpeg");
    animation: jumbotronSectionTransition 60s; /* time it takes for the complete animation to complete */
    animation-iteration-count: 25; /* will continue for roughly 15 minutes or so */
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lead {
    color: white;
}

/* This is regarding the position of the music controller */
#musicGroup
{
  float:right;
  position: fixed;
  top: 15px;
  right: 0;
}

#musicToggle
{
  float: right;
  position: fixed;
  top: 20px;
  right: 0;
}

p {
  font-family: 'monosten-a', 'source-code-pro', 'Courier New', Courier, mono;
  color: white;
  text-shadow: 2px 2px grey;
  padding-bottom: 20px;
}

h1 {
  font-family: 'monosten-a', 'source-code-pro', 'Courier New', Courier, mono;
  color: white;
  text-shadow: 2px 2px grey;
}

h3 {
  font-family: 'monosten-a', 'source-code-pro', 'Courier New', Courier, mono;
  text-align: center;
}

label {
  font-family: 'monosten-a', 'source-code-pro', 'Courier New', Courier, mono;
    color: white;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px grey;
}

button {
    font-family: 'monosten-a', 'source-code-pro', 'Courier New', Courier, mono;
}

body {
  animation: bodyTransition 60s; /* time it takes for the complete animation to complete */
  animation-iteration-count: 25; /* will continue for roughly 15 minutes or so */
}

.aligned-inputs {

}

#submit {
    margin-top: 2%;
}

#form {
    margin-left: 15%;
}

#nyTimes {
    width: 90%;
    height: 25%;
    margin: auto;
}

#article-section {
  animation: articleSectionTransition 60s; /* time it takes for the complete animation to complete */
  animation-iteration-count: 25; /* will continue for roughly 15 minutes or so */
  padding-right: 3%;
  padding-top: 1.5%;
}

#movieOMDB-section {
  animation: movieOMDBSectionTransition 60s; /* time it takes for the complete animation to complete */
  animation-iteration-count: 25; /* will continue for roughly 15 minutes or so */
  padding-right: 3%;
  padding-top: 1.5%;
}

#weather-section {
  animation: weatherSectionTransition 60s; /* time it takes for the complete animation to complete */
  animation-iteration-count: 25; /* will continue for roughly 15 minutes or so */
  padding-right: 3%;
  padding-top: 1.5%;
}

#financial-section {
  animation: financialSectionTransition 60s; /* time it takes for the complete animation to complete */
  animation-iteration-count: 25; /* will continue for roughly 15 minutes or so */
  padding-right: 3%;
  padding-top: 1.5%;
}

#data-dump-section {
  animation: articleSectionTransition 60s; /* time it takes for the complete animation to complete */
  animation-iteration-count: 25; /* will continue for roughly 15 minutes or so */
  padding-right: 3%;
  padding-top: 1.5%;
}

.card-header {
    background-color: white;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Start background animation section*/
@keyframes bodyTransition
{
  /* Starts with base color */
  0%
  {
    background: blue;
  }

  25%
  {
    background: red;
  }

  50%
  {
    background: green;
  }

  75%
  {
    background: orange;
  }

  100%
  {
    background: purple;
  }
}

/* Start background animation section*/
@keyframes articleSectionTransition
{
  /* Starts with base color */
  0%
  {
    background: #F8E9A1;
    opacity:1;
  }

  5%
  {
    background: #F8E9A1;
    opacity:0.5;
  }

  /* Begins transition to next color at 10% */
  10%
  {
    background: #F76C6C;
    opacity:1;
  }

  15%
  {
    background: #F76C6C;
    opacity:0.5;
  }

  /* Begins transition to next color at 20% */
  20%
  {
    background: #A8D0E6;
    opacity:1;
  }

  25%
  {
    background: #A8D0E6;
    opacity:0.5;
  }

  /* Begins transition to next color at 30% */
  30%
  {
    background: #374785;
    opacity:1;
  }

  35%
  {
    background: #374785;
    opacity:0.5;
  }

  /* Begins transition to next color at 40% */
  40%
  {
    background: #24305E;
    opacity:1;
  }

  45%
  {
    background: #24305E;
    opacity:0.5;
  }

  /* Begins transition to next color at 50% */
  50%
  {
    background: #A64AC9;
    opacity:1;
  }

  55%
  {
    background: #A64AC9;
    opacity:0.5;
  }

  /* Begins transition to next color at 60% */
  60%
  {
    background: #FCCD04;
    opacity:1;
  }

  65%
  {
    background: #FCCD04;
    opacity:0.5;
  }

  /* Begins transition to next color at 70% */
  70%
  {
    background: #FFB48F;
    opacity:1;
  }

  75%
  {
    background: #FFB48F;
    opacity:0.5;
  }

  /* Begins transition to next color at 80% */
  80%
  {
    background: #F5E6CC;
    opacity:1;
  }

  85%
  {
    background: #F5E6CC;
    opacity:0.5;
  }

  /* Begins transition to next color at 90% */
  90%
  {
    background: #17E9E0;
    opacity:1;
  }

  95%
  {
    background: #17E9E0;
    opacity:0.5;
  }

  /* Begins transition to next color at 100% and completes sequence --- step 4 */
  100%
  {
    background: #3AAFA9;
    opacity:1;
  }
}

/* Start background animation section*/
@keyframes movieOMDBSectionTransition
{
  /* Starts with base color --- step 1 */
  0%
  {
    background: #F76C6C;
  }
  /* Begins transition to next color at 10% */
  10%
  {
    background: #F8E9A1;

  }
  /* Begins transition to next color at 20% */
  20%
  {
    background: #374785;
  }
  /* Begins transition to next color at 30% */
  30%
  {
    background: #A8D0E6;
  }
  /* Begins transition to next color at 40% */
  40%
  {
    background: #A64AC9;
  }
  /* Begins transition to next color at 50% */
  50%
  {
    background: #24305E;
  }
  /* Begins transition to next color at 60% */
  60%
  {
    background: #FFB48F;
  }
  /* Begins transition to next color at 70% */
  70%
  {
    background: #F5E6CC;
  }
  /* Begins transition to next color at 80% */
  80%
  {
    background: #FCCD04;
  }
  /* Begins transition to next color at 90% */
  90%
  {
    background: #3AAFA9;
  }
  /* Begins transition to next color at 100% and completes sequence --- step 4 */
  100%
  {
    background: #17E9E0;
  }
}

/* Start background animation section*/
@keyframes weatherSectionTransition
{
  /* Starts with base color --- step 1 */
  0%
  {
    background: #F8E9A1;
  }
  /* Begins transition to next color at 10% */
  10%
  {
    background: #F76C6C;
  }
  /* Begins transition to next color at 20% */
  20%
  {
    background: #24305E;
  }
  /* Begins transition to next color at 30% */
  30%
  {
    background: #374785;
  }
  /* Begins transition to next color at 40% */
  40%
  {
    background: #A8D0E6;
  }
  /* Begins transition to next color at 50% */
  50%
  {
    background: #FFB48F;
  }
  /* Begins transition to next color at 60% */
  60%
  {
    background: #FCCD04;
  }
  /* Begins transition to next color at 70% */
  70%
  {
    background: #A64AC9;
  }
  /* Begins transition to next color at 80% */
  80%
  {
    background: #3AAFA9;
  }
  /* Begins transition to next color at 90% */
  90%
  {
    background: #17E9E0;
  }
  /* Begins transition to next color at 100% and completes sequence --- step 4 */
  100%
  {
    background: #F5E6CC;
  }
}

/* Start background animation section*/
@keyframes financialSectionTransition---
{
  /* Starts with base color --- step 1 */
  0%
  {
background-image: url("../images/jumbotronBackground1.jpg");
  }
  /* Begins transition to next color at 10% */
  10%
  {
background-image: url("../images/jumbotronBackground2.jpg");
  }
  /* Begins transition to next color at 20% */
  20%
  {
background-image: url("../images/jumbotronBackground3.jpg");
  }
  /* Begins transition to next color at 30% */
  30%
  {
background-image: url("../images/jumbotronBackground4.jpg");
  }
  /* Begins transition to next color at 40% */
  40%
  {
background-image: url("../images/jumbotronBackground2.jpg");

  }
  /* Begins transition to next color at 50% */
  50%
  {
background-image: url("../images/jumbotronBackground1.jpg");
  }
  /* Begins transition to next color at 60% */
  60%
  {
background-image: url("../images/jumbotronBackground2.jpg");
  }
  /* Begins transition to next color at 70% */
  70%
  {
background-image: url("../images/jumbotronBackground3.jpg");
  }
  /* Begins transition to next color at 80% */
  80%
  {
background-image: url("../images/jumbotronBackground4.jpg");
  }
  /* Begins transition to next color at 90% */
  90%
  {
background-image: url("../images/jumbotronBackground1.jpg");
  }
  /* Begins transition to next color at 100% and completes sequence --- step 4 */
  100%
  {
background-image: url("../images/jumbotronBackground2.jpg");
  }
}
