/* This is regarding the position of the music controller */
#musicGroup
{
  float:right;
  position: fixed;
  bottom: 15px;
  right: 0;
}

#musicToggle
{
  float: right;
  position: fixed;
  bottom: 20px;
  right: 0;
}
